html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.header-img-wrapper {
  background-image: url(../assets/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
}
.piggy-img-wrapper {
  background-image: url(../assets/icon-piggy-bank.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 250px;
  float: right;
  margin-top: 70px;
  margin-right: 150px;
}

h1 {
  color: white;
  margin: 0;
  padding: 80px 0 10px 30px;
  font-weight: lighter;
}

h2 {
  color: white;
  font-size: 15px;
  margin: 0px;
  padding-left: 30px;
}

.shop-button {
  background-color: white;
  border-radius: 40px;
  width: max-content;
  padding: 10px 25px;
  margin: 30px 0 0 30px;
}
header {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
}
nav {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  border-radius: 30px;
  background-color: white;
  padding: 10px 20px 10px 20px;
}
a:hover {
  border-radius: 30px;
  background-color: #f8d9e0;
  padding: 10px 25px 10px 25px;
}
.coats-button {
  border-radius: 30px;
  background-color: #f8d9e0;
  padding: 10px 25px 10px 25px;
}

.coats-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.top {
  background-image: url(../assets/coats/coat-1.jpg);
}
.winter {
  background-image: url(../assets/coats/coat-2.jpg);
}
.woolen {
  background-image: url(../assets/coats/coat-3.jpg);
}
.blazer {
  background-image: url(../assets/coats/coat-4.jpg);
}
.coat-background {
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 300px;
}
.details-coat {
  background-color: white;
  margin-top: 150%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.price {
  color: #828282;
}

.categories-wrapper {
  margin-top: 80px;
}
h3 {
  margin-left: 105px;
  color: #333333;
  font-weight: lighter;
  font-size: 30px;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.details-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e8e9;
  width: 200px;
  height: 100px;
  margin-bottom: 50px;
  border-radius: 10%;
}

/* avand in vedere ca e pozitionat deasupra paginii, nu era necesar sa faci inca o pagina html pentru asta, puteai sa adaugi overlay in prima, sa te obisnuiesti cu stilul acesta de structurare, pentru ca vizibilitatea va fi manipulata prin javascript */
#overlay {
  position: fixed;
  /* acesta este un div, are display: block de default, nu este necesar sa iti aglomerezi css-ul inutil */
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-logo {
  background-image: url(../assets/close.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  float: right;
  margin: 10px 20px 0 0;
}
.background-img-overlay {
  width: 350px;
  height: 40%;
  display: flex;
  justify-content: center;
  /* flex te-ar ajuta aici sa centrezi, nu recomand in nici un fel de situatie un margin de 500px, valori manuale asa de mari nu au cum sa functione ok pe rezolutii diferite, ti-am si atasat un screenshot sa vezi cum vad eu ca sa intelegi  */
  margin: 20px 0 0 500px;
}
.img-overlay {
  background-image: url(../assets/coats/coat-4.jpg);
  background-repeat: repeat;
  background-size: contain;
  width: 380px;
  height: 100%;
  margin: 0px;
}
.background-overlay {
  width: 100%;
  /* nu inteleg height-ul acesta, dar pe langa asta nu te sfatuiesc sa dai un height la parent, lasa sa fie continutul cel care stabileste height-ul. poti sa vezi si in screenshot-ul atasat spatiul alb e mult mai mult decat iti trebuie, aceestea sunt detalii care contribuie la consistenta site-urilor tale */
  height: 160%;
  background-color: white;
  border-radius: 10%;
  margin-top: 60%;
}

h4{
  font-size: 25px;
  padding: 30px 0 5px 20px;
  margin-bottom: 0px;
}

.blazer-coat-price{
  color: #828282;
  padding-left: 20px;
  font-size: 20px;
}

h5{
  font-size: 15px;
  margin: 5px 0 10px 0;
  padding-left: 20px;
}

.size-details-wrapper{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.size-details{
  background-color: #e7e8e9 ;
  font-size: 10px;
  width: 15px;
  height: 15px;
  border: 1px #e7e8e9 solid ;
  border-right: 3px #C0C0C0  solid ;
  border-bottom: 3px #C0C0C0  solid;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 5px 0 0 5px;
}

.buttons-wrapper{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-content: center;
  font-size: 15px;

}
.buttons-details{
  background-color: #e7e8e9;
  margin-left: 10px;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  padding: 10px 0 0 0;
  text-align: center;
}

.pink-button-overlay-details{
  background-color: #f8d9e0;
} 

.composition-country-wrapper{
  margin: 20px 20px 5px 20px;
  font-size: 15px;

}
.composition-country{
  display: flex;
  justify-content: space-between;
}
.composition-country-details{
  display: flex;
  justify-content: space-between;
  color:  #828282;
  margin-top:5px;
  
}

.care-details{
  margin: 10px 20px;
  font-size: 15px;
}
h6{
  margin: 0 0 5px 0;
  font-size: 15px;
}
p{
  margin-top: 10px;
}
.add-to-cart-button {
  background-color: #333333;
  /* este ok sa teduci la 100% din parinte cu width-ul, nu sa folosesti o marime fixa in cazul acesta */
  width: 290px;
  height: 10px;
  padding: 10px;
  /* cu flex implementezi layout pentru un container, .add-to-cart-button este doar un element fara children nodes */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 20px;
  color: #C0C0C0;
  font-size: 15px;
}
